/*
 * 1 - disable pointer events such as clicks and hovers
 *     useful to disable side effects of buttons, links, ...
 *
 * 2 - the text inside a content-placeholder is just placeholder content
 *     so it should be treated like text without any meaning
 *     Note: not sure if that's 100% accesibility-wise
 */

.content-placeholder {
  color: transparent;
  background-color: #dadada;
  pointer-events: none; /* 1 */
  user-select: none; /* 2 */
}
